/*!
 * vue-muuri v0.1.2
 * (c) 2017 Collier Devlin
 * Released under the MIT License.
 */.grid[data-v-614cfcbc]{position:relative}.item[data-v-614cfcbc]{display:block;position:absolute;width:100px;height:100px;margin:5px;z-index:1;background:#000;color:#fff}.item.muuri-dragging[data-v-614cfcbc]{z-index:3}.item.muuri-releasing[data-v-614cfcbc]{z-index:2}.item.muuri-hidden[data-v-614cfcbc]{z-index:0}.item-content[data-v-614cfcbc]{position:relative;width:100%;height:100%}.text-center[data-v-6ac0860c]{text-align:center}.hidden[data-v-6ac0860c]{display:none}.handle[data-v-6ac0860c]{width:100%;height:25px}.handle[data-v-6ac0860c]:hover{cursor:move}.clickable[data-v-6ac0860c]{height:100%;padding-top:35px;color:#00f}.clickable[data-v-6ac0860c]:hover{cursor:pointer}